################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/RDFSharp.RDFFirebirdStore/.vs/RDFSharp.RDFFirebirdStore/v15
/RDFSharp.RDFFirebirdStore/packages
/RDFSharp.RDFFirebirdStore/RDFSharp.RDFFirebirdStore/bin
/RDFSharp.RDFFirebirdStore/RDFSharp.RDFFirebirdStore/obj
/RDFSharp.RDFMySQLStore/.vs/RDFSharp.RDFMySQLStore/v15
/RDFSharp.RDFMySQLStore/packages
/RDFSharp.RDFMySQLStore/RDFSharp.RDFMySQLStore/bin
/RDFSharp.RDFMySQLStore/RDFSharp.RDFMySQLStore/obj
